* {
    margin: 0;

}
/*Fonts */
@font-face{
    font-family: 'XBambi';
    src: url('fonts/XBambi.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #e7d8b6;
}

header {
    width: 100vw;
    max-height: 7800%;
    display: flex;
    justify-content: center;
}

body{
    overflow-x: hidden;

}

h1 {
    position: absolute;
    font-family: 'Zilla Slab', serif;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #e7d8b6;
}

h2 {
    position: absolute;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #e7d8b6;
}

h4{
    position: absolute;
    font-family: 'Zilla Slab', serif;
    margin-left: auto;
    margin-right: auto;
    color: #e7d8b6; 
}

p {
    font-family: 'Roboto', sans-serif;
    color: #e7d8b6;
    width: 80vw;
    margin: auto;
    display: block;
}


.oscuro {
    color: #001c49;
}

.borde-cabecera {
    width: 100vw;
    height: 5.8vw;
    display: block;
    background-image: url(img/borde.png);
    background-size: 100%;
    position: relative;
    margin-top: 34%;
}

.imagen-cabecera {
    margin-top: 11%;
    align-items: stretch;
    max-width: 100%;
    max-height: 79%;
    background-image: url(img/cabecera_comprimida.png);
    background-size: cover;
}

.descripcion {
    width: 100vw;
    height: 170px;
    background-image: linear-gradient(to bottom, #001c49, rgb(0, 0, 0));
    margin-top: -10px;
    text-align: justify;
}

#globo {
    width: 100vw;
    height: 100vh;
    background: black;
}

#globo .we-pp-wrapper,.we-pp-tip {
    background-color: #e7d8b6;
}

#globo .we-pp-tip{
    background-color: #e7d8b6;
}

#globo b {
    color: #182749;
    text-decoration: none;
}

#globo a {
    color: #182749;
    text-decoration: none;
}
.articulo {
    width: 100vw;
    height: max-content;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.titulo-articulo {
    width: 100vw;
    height: 200px;
}

.footer {
    width: 100vw;
    height: 250px;
    align-items: center;
}



.desarrolladores {
    display: block;
    padding-top: 50px;
    padding-left: 10%;
}


    img.landsat{
        border-radius: 6px;
        width: 700px;
        height: 500px;
        display:block;
        margin:auto;
        max-width: 100%;
    }
    img.landsat9{
        border-radius: 6px;
        width: 600px;
        height: 600px;
        display:block;
        margin:auto;
        max-width: 100%;
    
    }
    img.smoke{
        border-radius: 6px;
        width: 630px;
        height: 360px;
        display:block;
        margin:auto;
        max-width: 100%;
    }
    
    iframe.video{
        width: 560px;
        height:315px;
        display:block;
        margin:auto;
        max-width: 100%;
    }
    
    
    img.before-after{
        border-radius: 7px;
        width:780px;
        height: 500px;
        display:block;
        margin:auto;
        max-width: 100%;
    }


#titulo-principal {
    font-family: XBambi;
    margin-top: 50px;
    text-shadow:
        -1px -1px 0 #e7d8b6,  
        1px -1px 0 #e7d8b6,
        -1px 1px 0 #e7d8b6,
        1px 1px 0 #e7d8b6;
    }

#subtitulo-principal {
    font-family: XBambi;
    margin-top: 130px;
        text-shadow:
    -1px -1px 0 #e7d8b6,  
    1px -1px 0 #e7d8b6,
    -1px 1px 0 #e7d8b6,
    1px 1px 0 #e7d8b6;
}

#descripcion {
    padding-top: 10px;
}
#globo-scroll-izda {
    width: 27vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
}

#globo-scroll-drcha {
    margin-left: 73vw;
    width: 27vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
}

#globo-scroll-abajo {
    width: 100vw;
    height: 20vh;
    background-color: transparent;
    position: absolute;
    margin-top: 80vh;
}
/* #globo {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
} */

#titulo-articulo {
    margin-top: 40px;
}

#texto-articulo {
    position: relative;
    margin-top: -50px;
    padding-bottom: 20px;
    text-align: justify;
}
#incendioGalicia{
    display: none;
}

#incendioAmazonas{
    display: none;

}

#incendioCalifornia{
    display: none;
}

#incendioAustralia{
    display: none;
}

#nasa{
    display: block;
}
#degradado-articulo {
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to bottom, black, #001c49);
    margin-top: -5px;
}

#borde-articulo {
    width: 100%;
    height: 5.8vw;
    transform: scaleY(-1);
    display: block;
    background-image: url(img/borde.png);
    background-size: 100%;
    position: relative; 
    margin-top: -1px;
}

#borde-footer {
    width: 100%;
    height: 5.8vw;
    display: block;
    background-image: url(img/borde.png);
    background-size: 100%;
    position: relative;
    margin-bottom: -1px;
}

#degradado-footer {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to bottom, #001c49, black);
}




@media only screen
    and (min-device-width: 400px)
    and (max-device-width: 635px) {
        .descripcion {
            height: 6000px;
        }
    }

@media only screen
    and (min-device-width: 636px)
    and (max-device-width: 1076px) {
        .descripcion {
            height: 400px;
        }
    }
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 1080px) {
        #globo {
            height: 500px;
        }
    }



/*CSS para el before y after de las imagenes*/
/*Code for before and after images*/
.container {
  max-width: 90%;
}

/*Australia*/
#comparison_australia {
    margin: auto;
  display: none;
  width: 750px;
    height: 500px;
  overflow: hidden;
  position: relative;
}

figure.after-australia {
  position: absolute;
  background-image: url(img/images-fires/despues-australia.jpg);
  background-size: cover;
  font-size: 0;
  width: 750px;
    height: 500px;
  margin: 0;
}

#divisor_before-australia {
  background-image: url(img/images-fires/antes-australia.jpg);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    height: 500px;
  bottom: 0;
}
#divisor_before-australia::before, #divisor::after {
  content: '';
  position: absolute;
  right: -2px;
  width: 4px;
  background: white;
  z-index: 3;
}
#divisor_before-australia::before {
  top: 0;
  box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}
#divisor_before-australia::after {
  bottom: 0;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}

/*California*/
#comparison_california {
  display: none;
    margin: auto;
  width: 750px;
    height: 500px;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

figure.after-california {
  position: absolute;
  background-image: url(img/images-fires/despues-california.jpg);
  background-size: cover;
  font-size: 0;
  width: 750px;
    height: 500px;
  margin: 0;
}

#divisor_before-california {
  background-image: url(img/images-fires/antes-california.jpg);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 500px;
}
#divisor_before-california::before, #divisor::after {
  content: '';
  position: absolute;
  right: -2px;
  width: 4px;
  height: 500px;
  background: white;
  z-index: 3;
}
#divisor_before-california::before {
  top: 0;
  box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}
#divisor_before-california::after {
  bottom: 0;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}




#handle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
#handle::before, #handle::after {
  content: '';
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
#handle::before {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}
#handle::after {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 50px);
  z-index: 2;
}
input[type=range]:focus, input[type=range]:active {
  border: none;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}
